In [1]:
import pandas as pd
import csv
import numpy as np

# cleaning the data

cleaning the data
first of all we fill the data with NaN where there was no data or data that we dont need, after this we will make the data type to float(in the original it was an object type data) and then delete the rows that there is to many missing data. becouse the 4 data:beer consumbtion,wine consumption,spirits consumption and alcohol consumption have the same structure we will make a function that does all this to the four datasets.

In [84]:
def cleaning_data_format_1(df):
    df=df.loc[:, df.columns != 'Unnamed: 0']
    df=df.loc[:, df.columns != 'Latest dataavailable']
    for column in df.iloc[:,1:]:
        df[column] = df[column].replace(['-'],np.NaN)
    for column in df.iloc[:,1:]:
        df[column] = df[column].astype(float) 
    #df=df.rename({'Unnamed: 0.1':'country'},axis='columns')
    return df

## first data is: Beer

In [85]:
Beer_df = pd.read_csv(r"data\list_of_BEER_consumption.csv")
Beer_df.head(4)

,Unnamed: 0,Unnamed: 0.1,Latest dataavailable,2018,2017,2016,2015,2014,2013,2012,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
0,0,Albania,1.6,1.6,1.6,1.5,1.5,1.3,1.3,1.3,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,-,-
1,1,Andorra,3.7,3.7,3.5,3.4,3.3,3.3,3,3.1,...,-,-,-,-,-,-,-,-,-,-
2,2,Armenia,0.5,0.5,0.5,0.4,0.5,0.5,0.4,0.3,...,-,-,-,-,-,-,-,-,-,-
3,3,Austria,6.4,6.4,6.2,6.2,6,6.3,6,6.3,...,6.4,6.8,6.5,6.5,6,6,5.5,5.2,4.9,4.7

In [86]:
Clean_Beer_data=cleaning_data_format_1(Beer_df)

In [87]:
Clean_Beer_data

,Unnamed: 0.1,2018,2017,2016,2015,2014,2013,2012,2011,2010,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
0,Albania,1.6,1.6,1.5,1.5,1.3,1.3,1.3,1.9,1.7,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,NaN,NaN
1,Andorra,3.7,3.5,3.4,3.3,3.3,3.0,3.1,3.1,3.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Armenia,0.5,0.5,0.4,0.5,0.5,0.4,0.3,0.3,0.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Austria,6.4,6.2,6.2,6.0,6.3,6.0,6.3,6.1,6.1,...,6.4,6.8,6.5,6.5,6.0,6.0,5.5,5.2,4.9,4.7
4,Azerbaijan,0.3,0.3,0.2,0.3,0.2,0.3,0.3,0.3,0.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Commonwealth of Independent States,2.4,2.3,2.5,2.6,2.8,3.0,3.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Central Asian Republics Information Network me...,1.0,1.0,0.9,0.9,0.8,0.8,0.9,0.9,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,South-eastern Europe Health Network members (S...,3.7,3.7,3.6,3.5,3.4,3.6,3.7,3.5,3.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Nordic countries,3.1,3.1,3.2,3.1,3.2,3.2,3.2,3.4,3.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Small countries,3.4,3.4,3.4,3.4,3.5,3.5,3.7,3.6,3.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
Clean_Beer_data.to_csv(r"data\Clean_Beer_data.csv")

# SECOND IS WINE

In [89]:
WINE_consumption = pd.read_csv(r"data\list_of_wine_consumption.csv")
Clean_WINE_data=cleaning_data_format_1(WINE_consumption)
Clean_WINE_data.to_csv(r'data\Clean_WINE_data.csv')
Clean_WINE_data

,Unnamed: 0.1,2018,2017,2016,2015,2014,2013,2012,2011,2010,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
0,Albania,1.3,1.3,1.3,1.1,1.0,1.1,1.1,1.1,1.1,...,0.5,0.4,0.2,0.1,0.2,0.3,0.2,0.3,NaN,NaN
1,Andorra,3.7,4.0,4.0,4.1,4.1,4.6,4.7,4.7,4.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Armenia,0.4,0.4,0.3,0.2,0.2,0.3,0.3,0.3,0.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Austria,3.6,3.6,3.7,3.6,4.2,3.9,4.1,4.1,4.3,...,5.0,5.0,4.8,4.7,4.0,3.1,3.0,2.9,3.0,2.8
4,Azerbaijan,0.1,0.1,0.2,0.1,0.2,0.2,0.2,0.2,0.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Commonwealth of Independent States,0.8,0.7,0.7,0.7,0.8,0.8,0.8,0.8,0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Central Asian Republics Information Network me...,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,South-eastern Europe Health Network members (S...,2.0,2.0,1.8,1.8,2.0,2.0,2.1,2.0,2.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Nordic countries,3.0,3.0,3.0,3.0,3.0,3.1,3.0,3.2,3.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Small countries,3.0,3.0,3.0,2.9,2.9,3.0,3.0,2.9,3.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## THIRD IS SPIRIT DRINK'S

In [90]:
SPIRITS_consumption = pd.read_csv(r"data\list_of_SPIRITS_consumption.csv")
Clean_SPIRIT_data=cleaning_data_format_1(SPIRITS_consumption)
Clean_SPIRIT_data.to_csv(r'data\Clean_SPIRIT_data.csv')
Clean_SPIRIT_data

,Unnamed: 0.1,2018,2017,2016,2015,2014,2013,2012,2011,2010,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
0,Albania,1.7,1.8,1.8,1.9,2.0,2.1,2.2,2.4,2.4,...,0.7,0.6,0.5,0.4,0.3,0.3,0.2,0.4,NaN,NaN
1,Andorra,2.3,2.3,2.4,2.3,2.3,2.3,2.4,2.5,2.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Armenia,2.8,3.0,3.1,3.3,3.5,3.2,3.4,3.4,3.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Austria,1.9,1.9,1.9,1.9,1.7,1.7,1.7,1.7,1.7,...,1.6,1.4,1.8,1.2,1.6,1.6,1.3,1.6,1.4,1.4
4,Azerbaijan,2.5,2.5,2.7,3.7,1.6,1.6,1.6,1.5,1.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Commonwealth of Independent States,2.6,2.5,2.9,3.0,3.4,3.9,4.3,4.3,4.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Central Asian Republics Information Network me...,1.2,1.2,1.3,1.3,1.4,1.5,1.4,1.4,1.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,South-eastern Europe Health Network members (S...,2.1,2.1,2.1,2.0,2.0,2.0,2.0,2.1,2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Nordic countries,1.2,1.2,1.2,1.2,1.2,1.2,1.2,1.3,1.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Small countries,2.8,2.8,2.8,2.8,2.6,2.5,2.8,2.9,2.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## FOURTH IS PURE ALCOHOL DRINK'S

In [97]:
PURE_ALCOHOL_consumption = pd.read_csv(r"data\list_of_PURE_ALCOHOL_consumption.csv")
CLEAN_PURE_ALCOHOL_DATA=cleaning_data_format_1(PURE_ALCOHOL_consumption)
CLEAN_PURE_ALCOHOL_DATA.to_csv(r'data\CLEAN_PURE_ALCOHOL_DATA.csv')
CLEAN_PURE_ALCOHOL_DATA

,Unnamed: 0.1,2018,2017,2016,2015,2014,2013,2012,2011,2010,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
0,Albania,4.7,4.8,4.7,4.5,4.3,4.5,4.7,5.4,5.3,...,1.7,1.4,1.2,1.0,1.0,1.0,0.9,1.2,NaN,NaN
1,Andorra,9.8,9.9,9.9,9.8,9.9,10.1,10.3,10.5,10.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Armenia,3.7,3.8,3.8,4.0,4.2,3.9,3.9,4.1,4.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Austria,11.8,11.7,11.7,11.6,12.2,11.6,12.1,11.9,12.1,...,13.0,13.2,13.1,12.4,11.6,10.7,9.8,9.7,9.3,8.9
4,Azerbaijan,2.9,2.9,3.0,4.1,2.0,2.1,2.0,2.0,1.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Commonwealth of Independent States,5.8,5.6,6.2,6.4,7.1,7.8,8.2,8.3,8.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Central Asian Republics Information Network me...,2.3,2.4,2.4,2.4,2.5,2.5,2.4,2.5,2.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,South-eastern Europe Health Network members (S...,7.9,7.9,7.5,7.4,7.4,7.7,7.9,7.7,7.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Nordic countries,7.7,7.6,7.7,7.7,7.8,7.9,7.9,8.3,8.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Small countries,9.3,9.3,9.3,9.1,9.1,9.1,9.6,9.5,9.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

his clean the data of csv file that we download. This csv include data of death diseases cases in all countries of the world. We want to rescue data about Liver diseases. Most diseases are caused by heavy drinking of alcohol.

## Deaths

In [92]:
deaths_by_cause = pd.read_csv(r"data\annual-number-of-deaths-by-cause (1).csv")

In [93]:
def cleaning_data_format_2(df):
    df1=df[['Entity','Year','Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)','Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)']]
    df1=df1.rename({'Entity':'country'},axis='columns')
    for column in df1.iloc[:,2:]:
        df1[column] = df1[column].astype(float)
    return df1

In [94]:
CLEAN_eaths_becouse_alcohol_DATA=cleaning_data_format_2(deaths_by_cause)

In [95]:
CLEAN_eaths_becouse_alcohol_DATA.to_csv(r"data\CLEAN_eaths_becouse_alcohol_DATA.csv")
CLEAN_eaths_becouse_alcohol_DATA

,country,Year,Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)
0,Afghanistan,2007,96.027592,1930.047120
1,Afghanistan,2008,98.308461,1933.357468
2,Afghanistan,2009,100.088778,1931.724414
3,Afghanistan,2011,105.565020,1988.638932
4,Afghanistan,2012,108.281688,2009.459531
...,...,...,...,...
6681,Zimbabwe,2013,73.649954,1464.553211
6682,Zimbabwe,2014,73.460128,1428.155866
6683,Zimbabwe,2015,74.605887,1413.581787
6684,Zimbabwe,2016,75.907792,1413.648556
6685,Zimbabwe,2017,77.192339,1439.681856